* {
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

img {
  vertical-align: bottom;
  -webkit-user-drag: none;
}
